<!--Update Product-->
<div class="container mt-5">
  <div class="card p-2">
    <div class="row">
      <div class="col-6">
        <form #smartphoneForm="ngForm" (ngSubmit)="updateSmartphone(smartphoneForm)">
          <div class="form-group">
            <label for="name">Name</label>
            <input id="name" class="form-control" placeholder="Enter product name" [(ngModel)]="phone.name" name="name">
          </div>

          <div class="form-group">
            <label for="descreption">Description</label>
            <input id="descreption" class="form-control" placeholder="Enter product description"
              [(ngModel)]="phone.description" name="description">
          </div>

          <div class="form-group">
            <label for="colour">Colour</label>
            <input id="colour" class="form-control" placeholder="Enter product colour" [(ngModel)]="phone.colour"
              name="colour">
          </div>

          <div class="form-group">
            <label for="screen">Screen Size</label>
            <input id="screen" class="form-control" placeholder="Enter screen size" [(ngModel)]="phone.screenSize"
              name="screenSize">
          </div>

          <div class="form-group">
            <label for="price">Price</label>
            <input id="price" class="form-control" placeholder="Enter price" [(ngModel)]="phone.price" name="Price">
          </div>

          <div class="form-group">
            <label for="memoryCapacity">Memory Capacity</label>
            <input id="memoryCapacity" class="form-control" placeholder="Enter memory capacity"
              [(ngModel)]="phone.memoryCapacity" name="memoryCapacity">
          </div>

          <div class="form-group">
            <label for="stock">Stock</label>
            <input id="stock" class="form-control" placeholder="Enter stock" [(ngModel)]="phone.stock" name="stock">
          </div>

          <div class="form-group">
            <label for="brandID">Brand</label>
            <select [(ngModel)]="phone.brandID" name="brandID" class="mx-2">
              <option id="brandID" [value]="phone.brandID">{{phone.brand}}</option>
              @for (brand of brands; track brand) {
              <option id="brandID" [value]="brand.id">{{brand.name}}</option>
              }
            </select>

          </div>

          <div class="form-group">
            <label for="categoryID">Category</label>

            <select [(ngModel)]="phone.categoryID" name="brandID" class="mx-2">
              <option id="brandID" [value]="phone.categoryID">{{phone.category}}</option>
              @for (category of categories; track category) {
              <option id="brandID" [value]="category.id">{{category.name}}</option>
              }
            </select>

          </div>

          <div align="end" class="p-2">
            <button type="reset" class="btn btn-primary mr-3">Clear</button>
            <button type="submit" class="btn btn-primary">Update Product</button>

          </div>

        </form>

      </div>
      <div class="col-6">

      </div>
    </div>
  </div>
</div>