<!--Add Brand-->
<div class="container mt-5">
    <div class="card p-2">
        <div class="row">
            <div class="col-6">
                <form #brandForm="ngForm" (ngSubmit)="addBrand(brandForm)">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" class="form-control" placeholder="Enter Brand name" [(ngModel)]="brand.name"
                            name="name">
                    </div>
                    <div align="end">
                        <button type="reset" class="btn btn-primary mr-3">Clear</button>
                        <button type="submit" class="btn btn-primary">Add Brand</button>

                    </div>
                </form>

            </div>
            <div class="col-6">

            </div>
        </div>
    </div>
</div>