<!-- pagination.component.html -->
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" href="#" (click)="onPageChange(currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pages" class="page-item" [class.active]="page === currentPage">
      <a class="page-link" href="#" (click)="onPageChange(page)">{{ page }}</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" href="#" (click)="onPageChange(currentPage + 1)">Next</a>
    </li>
  </ul>
</nav>
