
<div class="d-flex  flex-shrink-0  text-bg-dark ">
  <div class="row">
  <ul class="nav nav-pills  mb-auto">
    <li>
      <a routerLink="" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="16" height="16"></svg>
        Home
      </a>
    </li>
    <li>
      <a  class="nav-link text-white" routerLink ="/add-smartphone">
        <svg class="bi pe-none me-2" width="16" height="16"></svg>
       Add Product
      </a>
    </li>
    <li>
      <a  class="nav-link text-white" routerLink ="/show-products">
        <svg class="bi pe-none me-2" width="16" height="16"></svg>
        Show All Products
      </a>
    </li>
    <li>
      <a  class="nav-link text-white" routerLink ="/add-brand">
        <svg class="bi pe-none me-2" width="16" height="16"></svg>
       Add Brand
      </a>
    </li>
    <li>
      <a  class="nav-link text-white" routerLink ="/show-brands">
        <svg class="bi pe-none me-2" width="16" height="16"></svg>
        Show All Brands
      </a>
    </li>
    <li>
      <a  class="nav-link text-white" routerLink ="/add-category">
        <svg class="bi pe-none me-2" width="16" height="16"></svg>
       Add Category
      </a>
    </li>
    <li>
      <a  class="nav-link text-white" routerLink ="/show-categories">
        <svg class="bi pe-none me-2" width="16" height="16"></svg>
        Show All Categories
      </a>
    </li>
  </ul>
</div>  
</div>


     


