<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark wdth">
  
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
        Home
      </a>
    </li>
    <li>
      <a  class="nav-link text-white" routerLink ="/add-smartphone">
        <svg class="bi pe-none me-2" width="16" height="16"></svg>
       Add Product
      </a>
    </li>
    <li>
      <a  class="nav-link text-white" routerLink ="/show-products">
        <svg class="bi pe-none me-2" width="16" height="16"></svg>
        Show All Products
      </a>
    </li>
    <li>
      <a  class="nav-link text-white" routerLink ="/add-brand">
        <svg class="bi pe-none me-2" width="16" height="16"></svg>
       Add Brand
      </a>
    </li>
    <li>
      <a  class="nav-link text-white" routerLink ="/show-brands">
        <svg class="bi pe-none me-2" width="16" height="16"></svg>
        Show All Brands
      </a>
    </li>
    <li>
      <a  class="nav-link text-white" routerLink ="/add-category">
        <svg class="bi pe-none me-2" width="16" height="16"></svg>
       Add Category
      </a>
    </li>
    <li>
      <a  class="nav-link text-white" routerLink ="/show-categories">
        <svg class="bi pe-none me-2" width="16" height="16"></svg>
        Show All Categories
      </a>
    </li>
  </ul>
  
</div>

